package repository

import (
    "context"
    "errors"
    "fmt"

	"gorm.io/gorm"

    "{{.BasePackage}}/internal/domain/{{.Domain}}/model"
	"{{.DatabasePackage}}"
)

//go:generate mockgen -source=$GOFILE -destination=./mock_$GOPACKAGE/mock_$GOFILE -package=mock_$GOPACKAGE
type {{.Entity}} interface {
    List(ctx context.Context, scopes ...func(*gorm.DB) *gorm.DB) ([]model.{{.Entity}}, error)
	Get(ctx context.Context, id string, scopes ...func(*gorm.DB) *gorm.DB) (model.{{.Entity}}, error)
	Find(ctx context.Context, id string, scopes ...func(*gorm.DB) *gorm.DB) (*model.{{.Entity}}, error)
	Create(ctx context.Context, m *model.{{.Entity}}) error
	Update(ctx context.Context, m *model.{{.Entity}}) error
	Delete(ctx context.Context, id string) error
	WithTx(tx *database.DB) {{.Entity}}
}

type {{.LowerEntity}} struct {
    db *database.DB
}

func New{{.Entity}}(db *database.DB) {{.Entity}} {
    return &{{.LowerEntity}}{db: db}
}

func (repo *{{.LowerEntity}}) List(ctx context.Context, scopes ...func(*gorm.DB) *gorm.DB) ([]model.{{.Entity}}, error) {
    var m []model.{{.Entity}}
    err := repo.db.WithContext(ctx).Scopes(scopes...).Find(&m).Error
    return m, err
}

func (repo *{{.LowerEntity}}) Get(ctx context.Context, id string, scopes ...func(*gorm.DB) *gorm.DB) (model.{{.Entity}}, error) {
    var m model.{{.Entity}}
	err := repo.db.WithContext(ctx).Scopes(scopes...).First(&m, id).Error
	if errors.Is(err, gorm.ErrRecordNotFound) {
		return m, errors.Join(fmt.Errorf("%w: id=[%s]", database.ErrRecordNotFound, id), err)
	}
	return m, err
}

func (repo *{{.LowerEntity}}) Find(ctx context.Context, id string, scopes ...func(*gorm.DB) *gorm.DB) (*model.{{.Entity}}, error) {
    var m model.{{.Entity}}
    if err := repo.db.WithContext(ctx).Scopes(scopes...).First(&m, id).Error; err != nil {
        if errors.Is(err, gorm.ErrRecordNotFound) {
            return nil, nil
        }
        return nil, err
    }
    return &m, nil
}

func (repo *{{.LowerEntity}}) Create(ctx context.Context, m *model.{{.Entity}}) error {
    return repo.db.WithContext(ctx).Create(&m).Error
}

func (repo *{{.LowerEntity}}) Update(ctx context.Context, m *model.{{.Entity}}) error {
    return repo.db.WithContext(ctx).Save(m).Error
}

func (repo *{{.LowerEntity}}) Delete(ctx context.Context, id string) error {
    return repo.db.WithContext(ctx).Delete(&model.{{.Entity}}{}, id).Error
}

func (repo *{{.LowerEntity}}) WithTx(tx *database.DB) {{.Entity}} {
    return &{{.LowerEntity}}{db: tx}
}
